@import "tailwindcss";

@theme {
  --breakpoint-xs: 36rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
}

@layer base {
  body,
  html {
    background: #f2f5f9 !important;
  }

  .mantine-Skeleton-root::after {
    background-color: #d4dae3 !important;
  }
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox, Safari 18.2+, Chromium 121+ */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Older Safari and Chromium */
}
